* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.container {
    width: 90%;
    margin: 2rem auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}

.square {
    width: calc(95% / 10);
    aspect-ratio: 1;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    
}

.blu {
    background-color: blue;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}